{{ 'component-benefits.css' | asset_url | stylesheet_tag }}

<section class="benefits-section">
    <div class="benefits-container">
      <div class="benefit-item benefit-item--coffee">
        <img src="{{ 'icon-local_cafe.svg' | asset_url }}" alt="Coffee Time" width="100%" height="100%">
        <h3>Coffee Time</h3>
      </div>
      
      <div class="benefit-item benefit-item--promote-circulation">
        <img src="{{ 'icon-airline_seat_flat.svg' | asset_url }}" alt="Promote Blood Circulation" width="100%" height="100%">
        <h3>Promote Blood Circulation</h3>
      </div>
      
      <div class="benefit-item benefit-item--reduce-stiffness">
        <img src="{{ 'icon-draw.svg' | asset_url }}" alt="Reduce Stiffness" width="100%" height="100%">
        <h3>Reduce Stiffness</h3>
      </div>
      
      <div class="benefit-item benefit-item--promote-health">
        <img src="{{ 'icon-mop.svg' | asset_url }}" alt="Promote Blood Circulation" width="100%" height="100%">
        <h3>Promote Blood Circulation</h3>
      </div>
    </div>
  </section>
  
  {% schema %}
{
  "name": "Benefits Section",
  "settings": [],
  "presets": [
    {
      "name": "Benefits Section",
      "category": "Custom"
    }
  ]
}
{% endschema %}
