{{{ 'component-description-more-image.css' | asset_url | stylesheet_tag }}

<div class="description-more-image">
    <div class="description-wrapper">
        <div class="tabs-container">
            <ul class="tabs">
                {% for block in section.blocks %}
                    <li class="tab {% if forloop.first %}active{% endif %}" data-tab="tab-{{ forloop.index }}">
                        {{ block.settings.tab_title }}
                    </li>
                {% endfor %}
            </ul>
            
            <div class="tabs-content">
                {% for block in section.blocks %}
                    <div id="tab-{{ forloop.index }}" class="tab-content {% if forloop.first %}active{% endif %}">
                        <h3>{{ block.settings.tab_title }}</h3>
                        <div class="rte">{{ block.settings.tab_content }}</div>
                    </div>
                {% endfor %}
            </div>
        </div>

        {% if section.settings.show_image %}
        <div class="image-right">
            <img src="{{ section.settings.image | image_url }}" alt="{{ section.settings.image_alt }}">
        </div>
        {% endif %}
    </div>
</div>

<script src="{{ 'description-more-image.js' | asset_url }}" defer></script>
