{{ 'tabs.css' | asset_url | stylesheet_tag }}

<div class="tabs-container">

    <div class="tabs-container-tab">
        <ul class="tabs">
        <li class="tab active" data-tab="details">DETAILS</li>
        <li class="tab" data-tab="care-guide">CARE GUIDE</li>
        <li class="tab" data-tab="detailed-specifications">DETAILED SPECIFICATIONS</li>
        <li class="tab" data-tab="shipping">SHIPPING</li>
        </ul>
    
        <div id="details" class="tab-content active">
        <p>{{ section.settings.details_text }}</p>
        </div>
    
        <div id="care-guide" class="tab-content">
        <p>{{ section.settings.care_guide_text }}</p>
        </div>
    
        <div id="detailed-specifications" class="tab-content">
        <p>{{ section.settings.dspecifications_text }}</p>
        </div>

        <div id="shipping" class="tab-content">
            <p>{{ section.settings.shipping_text }}</p>
        </div>

        </div>
        {% if section.settings.show_image %}
            <div class="image-right">
            <img src="{{ section.settings.image | image_url }}" alt="{{ section.settings.image_alt }}" />
            </div>
        {% endif %}
</div>

<script src="{{ 'tabs.js' | asset_url }}" defer></script>
{% schema %}
{
  "name": "Tabs",
  "settings": [
    {
        "type": "checkbox",
        "id": "show_image",
        "label": "Show Image",
        "default": true
      },
      {
        "type": "image_picker",
        "id": "image",
        "label": "Upload Image"
      },
      {
        "type": "text",
        "id": "image_alt",
        "label": "Image Alt Text",
        "default": "Default alt text for image"
      },
    {
      "type": "richtext",
      "id": "details_text",
      "label": "Details Text"
    },
    {
      "type": "richtext",
      "id": "care_guide_text",
      "label": "Care Guide Text"
    },
    {
      "type": "richtext",
      "id": "dspecifications_text",
      "label": "Shipping Text"
    },
    {
      "type": "richtext",
      "id": " shipping_text",
      "label": "Shipping Additional Content"
    }
  ],
  "presets": [
    {
      "name": "Default",
      "category": "Custom"
    }
  ]
}
{% endschema %}
